body {
	background-color: #fff;
}

svg {
    margin: 50px;
}

.legend {
    width: 200px;
    height: 40px;
    background-color: #c0c0c0;
    z-index: 2;
}

.legend input {
    width: 100px;
    height: 20px;
    z-index: 3;
}

.legend #slider-vertical {
    background-color: #a0a0a0;
    margin: 5px;
    margin-top: 25px;
}

.legend #slider-vertical {
    width: 10px;
    height: 200px;
    z-index: 4;
    position: relative;
}
.legend #slider-vertical .ui-slider-range {
    background-color: #7c7c7c;
    z-index: 4;
    position: absolute;
}

.legend #slider-vertical .ui-slider-handle {
    width: 16px;
    height: 12px;
    margin-top: 1px;
    margin-left: -3px;
    border-radius: 3px;
    background-color: #000;
    z-index: 5;
    display: block;
    position: absolute;
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}
#amount {
    z-index: 5;
}
